{% extends "utils/base.html" %}
{% load static %}

{% block start %}
        <section id="o_wblog_index_content">
            <div class="container py-4">
                <div class="row justify-content-center">
                    <div id="o_wblog_posts_loop_container" class="col ">

    <div id="o_wblog_posts_loop" class="">

        <div class="row blog.post()">
            <div class="col">
                <h2>No blog post yet.</h2>
            </div>

        </div>
    </div>

                    </div>
                </div>
            </div>
        </section>

            <div class="oe_structure oe_empty oe_structure_not_nearest" id="oe_structure_blog_footer" data-editor-sub-message="Visible in all blogs&#39; pages"></div>
        </div>

        <div id="o_shared_blocks" class="oe_unremovable"></div>
                </main>
                <footer id="bottom" data-anchor="true" data-name="Footer" class="o_footer o_colored_level o_cc ">
                    <div id="footer" class="oe_structure oe_structure_solo">
            <section class="s_text_block pt40 pb16" data-snippet="s_text_block" data-name="Text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 pt24 pb24 o_colored_level">
                            <h5 class="mb-3">Useful Links</h5>
                            <ul class="list-unstyled">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="blog.1#">About us</a></li>
                                <li><a href="blog.1#">Products</a></li>
                                <li><a href="blog.1#">Services</a></li>
                                <li><a href="blog.1#">Legal</a></li>
                                <li>
                                    <a href="privacy">Privacy Policy</a>
                                </li><li>
                                    <a href="https://brigadehomemade.odoo.com/help">Help</a>
                                </li>
                                <li><a href="contactus">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-5 pt24 pb24 o_colored_level">
                            <h5 class="mb-3">About us</h5>
                            <div style="text-align: justify;">Too often, extra meals go to waste while many people crave fresh, home-style food. That’s why we built this platform — a space where <strong>home chefs can share their meals</strong> and <strong>food lovers can enjoy authentic, affordable dishes.</strong></div><div style="text-align: justify;"><br/></div><div style="text-align: justify;">Our mission is to:</div><div style="text-align: justify;"><span class="oe-tabs" style="width: 13.5px;">	</span>​Reduce food waste&nbsp;</div><div style="text-align: justify;">
<span class="oe-tabs" style="width: 13.5px;">	</span>​Support home chefs&nbsp;</div><div style="text-align: justify;">
<span class="oe-tabs" style="width: 13.5px;">	</span>​Deliver fresh, homemade meals</div><div style="text-align: justify;">
<span class="oe-tabs" style="width: 13.5px;">	</span>​Build a caring food community&nbsp;</div>
                        </div>
                        <div id="connect" class="col-lg-4 offset-lg-1 pt24 pb24 o_colored_level">
                            <h5 class="mb-3">Connect with us</h5>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-envelope fa-fw me-2"></i><span><a href="mailto:info@yourcompany.example.com">brigade@gmail.com</a></span></li>
                                <li><i class="fa fa-phone fa-fw me-2"></i><span class="o_force_ltr"><a href="tel:+911234567890">+91 1234567890</a></span></li>
                            </ul>
                            <div class="s_social_media text-start o_not_editable" data-snippet="s_social_media" data-name="Social Media">
                                <h5 class="s_social_media_title d-none">Follow us</h5>
<a href="https://brigadehomemade.odoo.com/website/social/facebook" class="s_social_media_facebook" target="_blank" aria-label="Facebook">
                                    <i class="fa fa-facebook rounded-circle shadow-sm o_editable_media"></i>
                                </a>
<a href="https://brigadehomemade.odoo.com/website/social/twitter" class="s_social_media_twitter" target="_blank" aria-label="X">
                                    <i class="fa fa-twitter rounded-circle shadow-sm o_editable_media"></i>
                                </a>
<a href="https://brigadehomemade.odoo.com/website/social/linkedin" class="s_social_media_linkedin" target="_blank" aria-label="LinkedIn">
                                    <i class="fa fa-linkedin rounded-circle shadow-sm o_editable_media"></i>
                                </a>
<a href="index.html" class="text-800" aria-label="Extra page">
                                    <i class="fa fa-home rounded-circle shadow-sm o_editable_media"></i>
                                </a>
</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <div class="o_footer_copyright o_colored_level o_cc" data-name="Copyright">
                        <div class="container py-3">
                            <div class="row">
                                <div class="col-sm text-center text-sm-start text-muted">
                                    <span class="o_footer_copyright_name me-2">​Copyright© @Brigade</span>
        
        
    </div>
                                <div class="col-sm text-center text-sm-end o_not_editable">
        <div class="o_brand_promotion">
        Powered by 
            <a target="_blank" class="badge text-bg-light" href="http://www.odoo.com?utm_source=db&amp;utm_medium=website">
                <img alt="Odoo" src="web/static/img/odoo_logo_tiny.png" width="62" height="20" style="width: auto; height: 1em; vertical-align: baseline;" loading="lazy"/>
            </a>
        - 
                    The #1 <a target="_blank" href="http://www.odoo.com/app/ecommerce?utm_source=db&amp;utm_medium=website">Open Source eCommerce</a>
                
        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        
        {% endblock %}