{% extends "utils/base.html" %}
{% load static %}
{% block start %}
    
        </header>
                <main>
                    
            <div id="wrap" class="container mt-4">
                <div class="row mb16">
                    <div class="oe_structure oe_empty w-100 mb-2" id="oe_structure_website_helpdesk_team_1" data-editor-message="DROP BUILDING BLOCKS HERE TO MAKE THEM AVAILABLE ACROSS ALL HELPDESK TEAMS"></div>
                    <div class="col-md-9">
                        <h2 class="o_page_header mt0 d-none" id="team-page"></h2>
                    </div>
                    <div class="col-md-8 ps-4">
                        <div>
        <div class="container">
            <h2>
                Submit a Ticket
            </h2>
            <div class="oe_structure" id="oe_structure_whelpdesk_form_1"></div>
            <span class="hidden" data-for="helpdesk_ticket_form" data-values="{&#39;team_id&#39;: 1}"></span>
            <div id="helpdesk_section">
                <section class="s_website_form pt16 pb16 o_colored_level" data-vcss="001" data-snippet="s_website_form" data-name="Form">
                    <div class="container">
                        <form id="helpdesk_ticket_form" action="https://brigadehomemade.odoo.com/website/form/" method="post" enctype="multipart/form-data" class="o_mark_required" data-mark="*" data-pre-fill="true" data-success-mode="redirect" data-success-page="/your-ticket-has-been-submitted" data-model_name="helpdesk.ticket" hide-change-model="true">
                            <div class="s_website_form_rows row s_col_no_bgcolor">
                                <div class="mb-0 py-2 s_website_form_field col-12 s_website_form_required" data-type="char" data-name="Field">
                                    <div class="row s_col_no_resize s_col_no_bgcolor">
                                        <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px" for="helpdesk1">
                                            <span class="s_website_form_label_content">Full Name</span>
                                            <span class="s_website_form_mark"> *</span>
                                        </label>
                                        <div class="col-sm">
                                            <input type="text" class="form-control s_website_form_input" name="partner_name" required="1" data-fill-with="name" id="helpdesk1"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0 py-2 s_website_form_field col-12 s_website_form_required" data-type="char" data-name="Field">
                                    <div class="row s_col_no_resize s_col_no_bgcolor">
                                        <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px" for="helpdesk2">
                                            <span class="s_website_form_label_content">Phone Number</span>
                                        </label>
                                        <div class="col-sm">
                                            <input type="tel" class="form-control s_website_form_input" name="partner_phone" data-fill-with="phone" id="helpdesk2"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0 py-2 s_website_form_field col-12 s_website_form_required" data-type="email" data-name="Field">
                                    <div class="row s_col_no_resize s_col_no_bgcolor">
                                        <label class="col-form-label col-sm-auto s_website_form_label " style="width: 200px" for="helpdesk3">
                                            <span class="s_website_form_label_content">Email Address</span>
                                            <span class="s_website_form_mark"> *</span>
                                        </label>
                                        <div class="col-sm">
                                            <input type="email" class="form-control s_website_form_input" name="partner_email" required="1" data-fill-with="email" id="helpdesk3"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0 py-2 s_website_form_field col-12 s_website_form_custom" data-type="char" data-name="Field">
                                    <div class="row s_col_no_resize s_col_no_bgcolor">
                                        <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px" for="helpdesk4">
                                            <span class="s_website_form_label_content">Company Name</span>
                                        </label>
                                        <div class="col-sm">
                                            <input type="text" class="form-control s_website_form_input" name="partner_company_name" data-fill-with="commercial_company_name" id="helpdesk4"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0 py-2 s_website_form_field col-12 s_website_form_model_required" data-type="char" data-name="Field">
                                    <div class="row s_col_no_resize s_col_no_bgcolor">
                                        <label class="col-form-label col-sm-auto s_website_form_label " style="width: 200px" for="helpdesk5">
                                            <span class="s_website_form_label_content">Message Subject</span>
                                            <span class="s_website_form_mark"> *</span>
                                        </label>
                                        <div class="col-sm">
                                            <input type="text" class="form-control s_website_form_input" name="name" required="true" id="helpdesk5"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0 py-2 s_website_form_field col-12" data-type="char" data-name="Field">
                                    <div class="row s_col_no_resize s_col_no_bgcolor">
                                        <label class="col-form-label col-sm-auto s_website_form_label " style="width: 200px" for="helpdesk6">
                                            <span class="s_website_form_label_content">Ask Your Question</span>
                                            <span class="s_website_form_mark"> *</span>
                                        </label>
                                        <div class="col-sm">
                                            <textarea type="text" class="form-control s_website_form_input" name="description" required="true" id="helpdesk6" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0 py-2 s_website_form_field col-12 s_website_form_custom" data-type="binary" data-name="Field">
                                    <div class="row s_col_no_resize s_col_no_bgcolor">
                                        <label class=" col-sm-auto s_website_form_label " style="width: 200px" for="helpdesk7">
                                            <span class="s_website_form_label_content">Attachment</span>
                                        </label>
                                        <div class="col-sm">
                                            <input type="file" class="form-control s_website_form_input" name="Attachment" id="helpdesk7"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0 py-2 s_website_form_field col-12 s_website_form_dnone" data-name="Field" data-type="record" data-model="helpdesk.team">
                                    <div class="row s_col_no_resize s_col_no_bgcolor">
                                        <label class="col-form-label col-sm-auto s_website_form_label" style="width: 200px">
                                            <span class="s_website_form_label_content">Helpdesk Team</span>
                                        </label>
                                        <div class="col-sm">
                                            <input type="hidden" class="form-control s_website_form_input" name="team_id" id="helpdesk8"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-0 py-2 col-12 s_website_form_submit" data-name="Submit Button">
                                    <div style="width: 200px;" class="s_website_form_label"></div>
                                    <a href="helpdesk#" role="button" class="btn btn-primary btn-lg s_website_form_send">Submit Ticket</a>
                                    <span id="s_website_form_result"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="right-column">
                        <div class="oe_structure oe_empty" id="oe_structure_website_helpdesk_team_2" data-editor-message="DROP BUILDING BLOCKS HERE TO MAKE THEM AVAILABLE ACROSS ALL HELPDESK TEAMS"></div>
                        <div class="oe_structure oe_empty" id="oe_structure_website_helpdesk_team_3" data-editor-message="DROP BUILDING BLOCKS HERE TO MAKE THEM AVAILABLE ACROSS ALL HELPDESK TEAMS"></div>
                    </div>
                </div>
                <div class="oe_structure oe_empty" id="oe_structure_website_helpdesk_team_4" data-editor-message="DROP BUILDING BLOCKS HERE TO MAKE THEM AVAILABLE ACROSS ALL HELPDESK TEAMS"></div>
            </div>
        
        <div id="o_shared_blocks" class="oe_unremovable"></div>
                </main>
                <footer id="bottom" data-anchor="true" data-name="Footer" class="o_footer o_colored_level o_cc ">
                    <div id="footer" class="oe_structure oe_structure_solo">
            <section class="s_text_block pt40 pb16" data-snippet="s_text_block" data-name="Text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 pt24 pb24 o_colored_level">
                            <h5 class="mb-3">Useful Links</h5>
                            <ul class="list-unstyled">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="helpdesk#">About us</a></li>
                                <li><a href="helpdesk#">Products</a></li>
                                <li><a href="helpdesk#">Services</a></li>
                                <li><a href="helpdesk#">Legal</a></li>
                                <li>
                                    <a href="privacy">Privacy Policy</a>
                                </li><li>
                                    <a href="https://brigadehomemade.odoo.com/help">Help</a>
                                </li>
                                <li><a href="contactus">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-5 pt24 pb24 o_colored_level">
                            <h5 class="mb-3">About us</h5>
                            <div style="text-align: justify;">Too often, extra meals go to waste while many people crave fresh, home-style food. That’s why we built this platform — a space where <strong>home chefs can share their meals</strong> and <strong>food lovers can enjoy authentic, affordable dishes.</strong></div><div style="text-align: justify;"><br/></div><div style="text-align: justify;">Our mission is to:</div><div style="text-align: justify;"><span class="oe-tabs" style="width: 13.5px;">	</span>​Reduce food waste&nbsp;</div><div style="text-align: justify;">
<span class="oe-tabs" style="width: 13.5px;">	</span>​Support home chefs&nbsp;</div><div style="text-align: justify;">
<span class="oe-tabs" style="width: 13.5px;">	</span>​Deliver fresh, homemade meals</div><div style="text-align: justify;">
<span class="oe-tabs" style="width: 13.5px;">	</span>​Build a caring food community&nbsp;</div>
                        </div>
                        <div id="connect" class="col-lg-4 offset-lg-1 pt24 pb24 o_colored_level">
                            <h5 class="mb-3">Connect with us</h5>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-envelope fa-fw me-2"></i><span><a href="mailto:info@yourcompany.example.com">brigade@gmail.com</a></span></li>
                                <li><i class="fa fa-phone fa-fw me-2"></i><span class="o_force_ltr"><a href="tel:+911234567890">+91 1234567890</a></span></li>
                            </ul>
                            <div class="s_social_media text-start o_not_editable" data-snippet="s_social_media" data-name="Social Media">
                                <h5 class="s_social_media_title d-none">Follow us</h5>
<a href="https://brigadehomemade.odoo.com/website/social/facebook" class="s_social_media_facebook" target="_blank" aria-label="Facebook">
                                    <i class="fa fa-facebook rounded-circle shadow-sm o_editable_media"></i>
                                </a>
<a href="https://brigadehomemade.odoo.com/website/social/twitter" class="s_social_media_twitter" target="_blank" aria-label="X">
                                    <i class="fa fa-twitter rounded-circle shadow-sm o_editable_media"></i>
                                </a>
<a href="https://brigadehomemade.odoo.com/website/social/linkedin" class="s_social_media_linkedin" target="_blank" aria-label="LinkedIn">
                                    <i class="fa fa-linkedin rounded-circle shadow-sm o_editable_media"></i>
                                </a>
<a href="index.html" class="text-800" aria-label="Extra page">
                                    <i class="fa fa-home rounded-circle shadow-sm o_editable_media"></i>
                                </a>
</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <div class="o_footer_copyright o_colored_level o_cc" data-name="Copyright">
                        <div class="container py-3">
                            <div class="row">
                                <div class="col-sm text-center text-sm-start text-muted">
                                    <span class="o_footer_copyright_name me-2">​Copyright© @Brigade</span>
        
        
    </div>
                                <div class="col-sm text-center text-sm-end o_not_editable">
        <div class="o_brand_promotion">
        Powered by 
            <a target="_blank" class="badge text-bg-light" href="http://www.odoo.com?utm_source=db&amp;utm_medium=website">
                <img alt="Odoo" src="web/static/img/odoo_logo_tiny.png" width="62" height="20" style="width: auto; height: 1em; vertical-align: baseline;" loading="lazy"/>
            </a>
        - 
                    The #1 <a target="_blank" href="http://www.odoo.com/app/ecommerce?utm_source=db&amp;utm_medium=website">Open Source eCommerce</a>
                
        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        {% endblock %}