{% extends "utils/base.html" %}
{% load static %}

{% block start %}
</header>
                <main>
                    
            <div id="wrap" class="">
                <div class="oe_structure">
                    <section class="s_title parallax s_parallax_is_fixed bg-black-50 pt24 pb24 o_colored_level" data-vcss="001" data-snippet="s_title" data-scroll-background-ratio="1">
                        <span class="s_parallax_bg oe_img_bg" style="background-image: url(https://brigadehomemade.odoo.com/&); background-position: 50% 0;"></span>
                        <div class="o_we_bg_filter bg-black-50"></div>
                        <div class="container">
                            <h1>Services</h1>
                        </div>
                    </section>
                </div>
                <div class="oe_structure"><section class="s_three_columns o_cc o_colored_level o_cc4 pt80 pb120" data-vxml="001" data-vcss="001" data-snippet="s_three_columns">
        <div class="container">
        <div class="col-lg-12">
            <h2 style="text-align: center;">
                <span class="o_text_highlight o_text_highlight_underline o_translate_inline" style="--text-highlight-width: 4px; --text-highlight-color: var(--o-color-4);">Upcoming Events</span>
            </h2>
            <p>
                <br/>
            </p>
        </div>
            <div class="row d-flex align-items-stretch">
                <div data-name="Card" class="col-lg-4 pt16 pb16">
                    <div class="s_card o_card_img_top card h-100 o_cc o_cc1 my-0 o_colored_level" data-vxml="001" data-snippet="s_card" data-name="Card" style="border-width: 0px !important">
                        <figure class="o_card_img_wrapper ratio ratio-16x9 mb-0">
                            <img class="o_card_img card-img-top" src="web/image/website.s_three_columns_default_image_1" alt="" loading="lazy"/>
                        </figure>
                        <div class="card-body">
                            <h4 class="card-title">Global Food Sourcing</h4>
    <p class="o_small_fs">24th AUGUST</p>
        <p>Explore our latest partnerships and offerings.</p>
        <p>
            <br/>
        </p>
        <p>
            <a class="btn btn-primary o_translate_inline" href="our-services#">Contact Us for a Consultation</a>
        </p>
    </div>
                    </div>
                </div>
                <div data-name="Card" class="col-lg-4 pt16 pb16">
                    <div class="s_card o_card_img_top card h-100 o_cc o_cc1 my-0 o_colored_level" data-vxml="001" data-snippet="s_card" data-name="Card" style="border-width: 0px !important">
                        <figure class="o_card_img_wrapper ratio ratio-16x9 mb-0">
                            <img class="o_card_img card-img-top" src="web/image/website.s_carousel_default_image_2" alt="" loading="lazy"/>
                        </figure>
                        <div class="card-body">
                            <h4 class="card-title">International Food Expo</h4>
    <p class="o_small_fs">27th AUGUST</p>
        <p>Connect with our expert team.</p>
        <p>
            <br/>
        </p>
        <p>
            <a class="btn btn-primary o_translate_inline" href="our-services#">Contact Us for a Consultation</a>
        </p>
    </div>
                    </div>
                </div>
                <div data-name="Card" class="col-lg-4 pt16 pb16">
                    <div class="s_card o_card_img_top card h-100 o_cc o_cc1 my-0 o_colored_level" data-vxml="001" data-snippet="s_card" data-name="Card" style="border-width: 0px !important">
                        <figure class="o_card_img_wrapper ratio ratio-16x9 mb-0">
                            <img class="o_card_img card-img-top" src="web/image/website.s_three_columns_default_image_3" alt="" loading="lazy"/>
                        </figure>
                        <div class="card-body">
                            <h4 class="card-title">Regional Food Showcase</h4>
    <p class="o_small_fs">9th SEPTEMBER</p>
        <p>Partner with Us Today.</p>
        <p><br/></p>
        <p>
            <a class="btn btn-primary o_translate_inline" href="our-services#">Contact Us for a Consultation</a>
        </p>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </section></div>
            </div>
        
        <div id="o_shared_blocks" class="oe_unremovable"></div>
                </main>
                <footer id="bottom" data-anchor="true" data-name="Footer" class="o_footer o_colored_level o_cc ">
                    <div id="footer" class="oe_structure oe_structure_solo">
            <section class="s_text_block pt40 pb16" data-snippet="s_text_block" data-name="Text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 pt24 pb24 o_colored_level">
                            <h5 class="mb-3">Useful Links</h5>
                            <ul class="list-unstyled">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="our-services#">About us</a></li>
                                <li><a href="our-services#">Products</a></li>
                                <li><a href="our-services#">Services</a></li>
                                <li><a href="our-services#">Legal</a></li>
                                <li>
                                    <a href="privacy">Privacy Policy</a>
                                </li><li>
                                    <a href="https://brigadehomemade.odoo.com/help">Help</a>
                                </li>
                                <li><a href="contactus">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-5 pt24 pb24 o_colored_level">
                            <h5 class="mb-3">About us</h5>
                            <div style="text-align: justify;">Too often, extra meals go to waste while many people crave fresh, home-style food. That’s why we built this platform — a space where <strong>home chefs can share their meals</strong> and <strong>food lovers can enjoy authentic, affordable dishes.</strong></div><div style="text-align: justify;"><br/></div><div style="text-align: justify;">Our mission is to:</div><div style="text-align: justify;"><span class="oe-tabs" style="width: 13.5px;">	</span>​Reduce food waste&nbsp;</div><div style="text-align: justify;">
<span class="oe-tabs" style="width: 13.5px;">	</span>​Support home chefs&nbsp;</div><div style="text-align: justify;">
<span class="oe-tabs" style="width: 13.5px;">	</span>​Deliver fresh, homemade meals</div><div style="text-align: justify;">
<span class="oe-tabs" style="width: 13.5px;">	</span>​Build a caring food community&nbsp;</div>
                        </div>
                        <div id="connect" class="col-lg-4 offset-lg-1 pt24 pb24 o_colored_level">
                            <h5 class="mb-3">Connect with us</h5>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-envelope fa-fw me-2"></i><span><a href="mailto:info@yourcompany.example.com">brigade@gmail.com</a></span></li>
                                <li><i class="fa fa-phone fa-fw me-2"></i><span class="o_force_ltr"><a href="tel:+911234567890">+91 1234567890</a></span></li>
                            </ul>
                            <div class="s_social_media text-start o_not_editable" data-snippet="s_social_media" data-name="Social Media">
                                <h5 class="s_social_media_title d-none">Follow us</h5>
<a href="https://brigadehomemade.odoo.com/website/social/facebook" class="s_social_media_facebook" target="_blank" aria-label="Facebook">
                                    <i class="fa fa-facebook rounded-circle shadow-sm o_editable_media"></i>
                                </a>
<a href="https://brigadehomemade.odoo.com/website/social/twitter" class="s_social_media_twitter" target="_blank" aria-label="X">
                                    <i class="fa fa-twitter rounded-circle shadow-sm o_editable_media"></i>
                                </a>
<a href="https://brigadehomemade.odoo.com/website/social/linkedin" class="s_social_media_linkedin" target="_blank" aria-label="LinkedIn">
                                    <i class="fa fa-linkedin rounded-circle shadow-sm o_editable_media"></i>
                                </a>
<a href="index.html" class="text-800" aria-label="Extra page">
                                    <i class="fa fa-home rounded-circle shadow-sm o_editable_media"></i>
                                </a>
</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    <div class="o_footer_copyright o_colored_level o_cc" data-name="Copyright">
                        <div class="container py-3">
                            <div class="row">
                                <div class="col-sm text-center text-sm-start text-muted">
                                    <span class="o_footer_copyright_name me-2">​Copyright© @Brigade</span>
        
        
    </div>
                                <div class="col-sm text-center text-sm-end text-muted">
                                    <span class="o_footer_copyright_legal">All rights reserved</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
       {% endblock %}